@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*font-family:  Poiret One;*/
:root{ /* :root - pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/
  
  --background-color: #02131E; /*custom CSS variable*/
  --nav-bar: #FF8F17;
  --welcome-section: #FF8F17;
  --nav-shadow: #f4acb7;
  --footer: #292F4B;
  --dark-background: #f19c79;
  --light-background: #292F4B;
  --contacts: #335c67;
  --body-elements: #F5A589;
}
body{
  background: var(--background-color, white); /*Using the variable, with a browser fallback*/
  
}
.divito{
  padding-top: 2%;
}
nav{
            position: fixed;
            left: 20px;
            width: calc(100% - 65px);/* stretches across the window- right */ 
            margin: 0 auto;
            padding: 10px 0;
            background: var(--nav-bar);
            z-index: 1; /* z-index: auto|(1 or -1)|initial|inherit @mapapaltan yung position ng element, top or bottom keme*/
            text-align: center;
            padding-right: 2%;
 }
.logo {
            width: 15%; /* Could also be thin, medium, or large*/
            float: left;
            text-transform: uppercase;
            color: #fff;
            font-size: 25px;
            text-align: left;
 }
.menu-area a {
            color: var(--background-color);
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: block;
            padding: 3px 25px;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            position: relative;
            z-index: 1;
 }
.menu-area a:hover {
            background: var(--background-color);
            color: var(--nav-bar);
            font-weight: bold;
}
.menu-area a:hover:after {
            transform: translateY(-50%) rotate(-35deg);
}
.menu-area li a{
  text-decoration: none;
}
.menu-area li{
  list-style-type: none;
  display: inline-block;
}
nav:before {
            position: absolute;
            content: '';
            border-top: 10px solid var(--nav-shadow);
            border-right: 10px solid var(--nav-shadow);
            border-left: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            left: 0;
 }
 nav:after {
            position: absolute;
            content: '';
            border-top: 10px solid var(--nav-shadow);
            border-left: 10px solid var(--nav-shadow);
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            right: 0;
 }
/*#welcome-section{
  text-align: left;
  color: var(--welcome-section);
  line-height: .001;
  padding-top: 20em;
  padding-bottom: 5em;
  padding-left: 60px;
  height: 600px;
}
*/
#welcome-section{
  padding-top: 40vh;
  padding-bottom: 5em;
  padding-left: 60px;
  height: 600px;
}
.text-typing{
  font-family: 'Poppins', sans-serif;
  font-size: 400%;
  font-weight: 700;
  /*line-height: .001;*/
  margin-top: 1.5em;
}
.text-typing{
  color: var(--nav-bar);
}
.text-typing h2 {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 6s steps(25,end) forwards infinite,
            blink 1s infinite;
}
@keyframes typing {
  0% { 
    width:0% 
  }
  100% { 
    width:60% 
  }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid var(--nav-bar);
  }
}
#line2{
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  text-shadow: 2px 2px 8px #5E6682;
  line-height: 100%;
  color: #F5A589 !important;
}
.section{
  background: var(--body-elements);
  padding-top: 1em;
  text-align: center;
  color: var(--background-color);
  font-size: 1.3em;
  padding-bottom: 5em;
  margin: 40px;
}
.title{
  color: var(--background-color);
  font-family: Poiret One;
  font-size: 2.5em;
  text-align: center;
}
.sub{
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}
#projectTitle{
  color: var(--dark-background);
  font-family:  Poiret One;
  font-size: 2.5em;
  text-align: center;
}


/* Project Section */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--nav-bar);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border-style: hidden; /*border-style: none, dotted, dashed, groove, solid, double, ridge, hidden, inset, outset */
  border-width: 0px;
  margin: 6px; /*positive - right,down / negative - left,upward*/
}

.project-image {
  /*height: calc(100% - 6.8rem);*/
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 25px;
  text-align: center;
  padding: .3em;
  color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.project-title:hover {
  color: var(--nav-bar);
  transition: color 0.3s ease-out;
  background: var(--background-color);
  /*box-shadow: 0px 8px 15px var(--nav-bar);*/
}
/*
.Contact{
  background: var(--body-elements);
  padding-top: 1em;
  text-align: center;
  color: white;
  font-size: 1.3em;
  padding-bottom: 5em;
}
.con{
  font-size: 2rem;
  padding: .05em;
  color: #ffbd69;
  font-family: Poiret one;
}*/
footer{
  font-family: 'Poppins', sans-serif;
  color: var(--nav-bar); 
  border-top: solid 2px var(--nav-bar);
}
footer li{
   display: inline-block;
   left: 0;
   bottom: 0;
   text-align: center;
   list-style: none;
   margin-left: 30px;
   margin-right: 30px;
}
footer li a{
   font-family: 'Poppins', sans-serif;
   color: var(--nav-bar); 
   text-decoration: none;
}
footer li:hover{
   color: #FFAF58; 
}
