:root{ /* :root - pseudo-class selector that matches the root element of the document, usually the html element. By creating your variables in :root, they will be available globally and can be accessed from any other selector in the style sheet.*/
  
  --background-color: #3a405a; /*custom CSS variable*/
  --nav-bar: #8d99ae;
  --nav-shadow: #f4acb7;
  --footer: #292F4B;
  --dark-background: #f19c79;
  --light-background: #292F4B;
  --contacts: #335c67;
}
body{
  background: var(--background-color, white); /*Using the variable, with a browser fallback*/
}
.div_ito{
  padding-top: 2%;
}
nav{
            position: fixed;
            left: 20px;
            width: calc(100% - 65px);/* stretches across the window- right */
            margin: 0 auto;
            padding: 10px 0;
            background: var(--nav-bar);
            z-index: 1; /* z-index: auto|(1 or -1)|initial|inherit @mapapaltan yung position ng element, top or bottom keme*/
            text-align: center;
            padding-right: 2%;
 }
.logo {
            width: 15%; /* Could also be thin, medium, or large*/
            float: left;
            text-transform: uppercase;
            color: #fff;
            font-size: 25px;
            text-align: left;
 }
.menu-area a {
            color: #fff;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: block;
            padding: 0 25px;
            font-size: 14px;
            line-height: 30px;
            position: relative;
            z-index: 1;
 }
.menu-area a:hover {
            background: #333;
            color: #fff;
}
.menu-area a:hover:after {
            transform: translateY(-50%) rotate(-35deg);
}
.menu-area li a{
  text-decoration: none;
}
.menu-area li{
  list-style-type: none;
  display: inline-block;
}
nav:before {
            position: absolute;
            content: '';
            border-top: 10px solid var(--nav-shadow);
            border-right: 10px solid var(--nav-shadow);
            border-left: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            left: 0;
 }
 nav:after {
            position: absolute;
            content: '';
            border-top: 10px solid var(--nav-shadow);
            border-left: 10px solid var(--nav-shadow);
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            right: 0;
 }
#welcome-section{
  font-family: Lobster;
  text-align: center;
  color: #f19c79;
  line-height: .001;
  padding-top: 5em;
  padding-bottom: 5em;
}
#pix{
  font-family:  Poiret One;
  text-align: center;
  font-size: 3em;
  line-height: .001;
  margin-top: 1.5em;
}
#this{
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  text-shadow: 2px 2px 8px #5E6682;
  line-height: 100%;
  color: #F5A589 !important;
}
#about{
  background-color: #ffcad4;
  padding-top: 1em;
  text-align: center;
  color: var(--light-background);
  font-size: 1.3em;
  padding-bottom: 5em;
  margin: 40px;
}
.aboutTitle{
  color: var(--light-background);
  font-family: Poiret One;
  font-size: 2.5em;
  text-align: center;
}
.aboutContent{
  font-size: 1em;
}
p{
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Merriweather', serif;
}
#projectTitle{
  color: var(--dark-background);
  font-family:  Poiret One;
  font-size: 2.5em;
  text-align: center;
}


/* Project Section */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #543864;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border-style: hidden; /*border-style: none, dotted, dashed, groove, solid, double, ridge, hidden, inset, outset */
  border-width: 0px;
  margin: 6px; /*positive - right,down / negative - left,upward*/
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: .05em;
  color: #ffbd69;
  font-family: Poiret one;
  
}

.project-title:hover {
  color: #ff7f50;
  transition: color 0.3s ease-out
}
#Contact{
  background: var(--contacts);
  padding-top: 1em;
  text-align: center;
  color: white;
  font-size: 1.3em;
  padding-bottom: 5em;
}
#con{
  font-size: 2rem;
  padding: .05em;
  color: #ffbd69;
  font-family: Poiret one;
  
}
footer{
  background: var(--footer);
  padding: 2em;
  /* OPTIONAL - clear: both; */ 
}


/*DESIGN SKETCHES FIRST!!! take note of the box models(margin, border, padding, content) */

/*USE INSPECT ELEMENT*/

/*p.ex1 {display: none;}
p.ex2 {display: inline;}
p.ex3 {display: block;}
p.ex4 {display: inline-block;}*/

/* HOW TO MAKE 3 OR MORE COLUMNS? 

  width:30%;
  margin-right: 2%;
  display:inline-block;
  float:left;
*/

/* If an element is inline, it is not needed for it to have a width, UNLESS its inline-block, or block */


/* STATES 

a:link  --- normal/unvisited link
a:visited  --- has been visited
a:hover --- activated by mouse
a:focus --- activated by keyboard (touchscreens)
a:active  --- is being clicked

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover */


/* 
border: 1px solid black;

short hand for: 

border-width: 1px;
border-color: black;
border-style: solid;
*/

/*
background: #00ff00 url("imgs/ocean.jpg") no-repeat fixed center;

short hand for:

background-color
background-image
background-repeat, and
background-position
*/

/*
Opacity
If you are using a background image and it is making it hard to read the text, you can alter the opacity of the image. The opacity is how transparent the image should appear. It is similar to the idea of using rgb() colors and rgba() colors. (255,0,0) is red. (255,0,0, .5) is a more transparent red.
*/