#background{
  background-color: #202040;
}
#welcome-section{
  font-family: Lobster;
  text-align: center;
  font-size: 3em;
  color: #ffbd69;
  line-height: .001;
  padding-bottom: 5em;
}
#pix{
  font-family:  Poiret One;
  text-align: center;
  font-size: 3em;
  color: #ffbd69;
  line-height: .001;
  margin-top: 1.5em;
}
#this{
  font-family: 'Lato', sans-serif;
  font-size: 0.5em;
  text-shadow: 2px 2px 8px #5E6682;
  line-height: 80%;
  color: #F5A589 !important;
}
.menu-area li a{
  text-decoration: none;
}
.menu-area li{
  list-style-type: none;
  display: inline-block;
}
.divito{
  padding-top: 25px;
}
nav{
            position: fixed;
            width: calc(100% - 60px);
            margin: 0 auto;
            padding: 10px 0;
            background: #ff6363;
            z-index: 1;
            text-align: right;
            padding-right: 2%;
 }
.logo {
            width: 15%;
            float: left;
            text-transform: uppercase;
            color: #fff;
            font-size: 25px;
            text-align: left;
            padding-left: 2%;
 }
.menu-area a {
            color: #fff;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: block;
            padding: 0 25px;
            font-size: 14px;
            line-height: 30px;
            position: relative;
            z-index: 1;
 }
.menu-area a:hover {
            background: #333;
            color: #fff;
        }

 .menu-area a:hover:after {
            transform: translateY(-50%) rotate(-35deg);
 }
 nav:before {
            position: absolute;
            content: '';
            border-top: 10px solid #FF3333;
            border-right: 10px solid #FF3333;
            border-left: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            left: 0;
 }
 nav:after {
            position: absolute;
            content: '';
            border-top: 10px solid #FF3333;
            border-left: 10px solid #FF3333;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            right: 0;
 }
#about{
  background-color: #543864;
  padding-top: 1em;
  text-align: center;
  color: white;
  font-size: 1.3em;
  padding-bottom: 5em;
}
p{
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Merriweather', serif;
}
#title1{
  color: #ffbd69;
  font-family:  Poiret One;
  font-size: 2.5em;
  text-align: center;
}
/* Project Section */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #543864;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: .05em;
  color: #ffbd69;
  font-family: Poiret one;
  
}

.project-title:hover {
  color: #ff7f50;
  transition: color 0.3s ease-out
}
#Contact{
  background-color: #543864;
  padding-top: 1em;
  text-align: center;
  color: white;
  font-size: 1.3em;
  padding-bottom: 5em;
}
#con{
  font-size: 2rem;
  padding: .05em;
  color: #ffbd69;
  font-family: Poiret one;
  
}
footer{
  background-color: #ff6363;
  padding: 2em;
}
